/* background: linear-gradient(151deg, rgba(21,114,161,1) 0%, rgba(154,208,236,1) 46%, rgba(227,190,198,1) 89%);
background: rgb(21,114,161); */


*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  padding: 2px;
  border: 1px solid grey;
  border-radius: 1em;
}
 
body::-webkit-scrollbar-thumb {
    width: 5px;
    border: 1px solid;
  background-color: #9AD0E1;
  border-radius: 1em;
  outline: 1px solid rgb(218, 227, 235);
}

aside::-webkit-scrollbar {
  width: 10px;
}
 
aside::-webkit-scrollbar-track {
  padding: 2px;
  border: 1px solid grey;
  border-radius: 1em;
}
 
aside::-webkit-scrollbar-thumb {
    width: 5px;
  background-color: #E3BEC6;
  border-radius: 1em;
  border: 1px solid grey;
  outline: 1px solid rgb(218, 227, 235);
}

.container{
    padding: 5px 10px;
}
.logo{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    color:gray ;
}
.logo img{
    display: none;
}
 #bar{
   display: flex;
     font-size: 25px;
    padding-right: 5px;
    color:#9AD0E1 ;
    cursor: pointer;
    z-index: 500;
}
 #times{
    display: none;
     font-size: 25px;
    padding-right: 5px;
    color:#9AD0E1 ;
    cursor: pointer;
    z-index: 500;
}
.mainhead{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
   padding-top: 20px;
}
.menu .features,
.menu .products,
.menu .resources,
.menu .more{
    display: none;
}

.menu .features-list,
.menu .products-list,
.menu .resources-list,
.menu .more-list{
    display: none;
}
.sm-menu{
    display: none;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: 200;
    background-color: white;
    width: 100%;
    overflow: scroll;
}
.sm-navs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sm-navs ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.sm-navs ol li{
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: .5em;
    width: 90%;
}
.sm-navs ol a{
    color: black;
}
.sm-navs button{
    margin: 0 10px;
    padding: 10px 0 2px 0;
    width: 8%;
    text-align: left;
    border: none;
    background: none;
    border-bottom: 2px solid #9AD0E1;
    margin-bottom: 10px;
}
.loginbtn{
    background: none;
    border: none;
    font-size: 12px;
    padding: 0 5px;
}
.loginbtn a{
    color: black;
}
.signUpbtn{
    border: none;
    padding: 5px 10px;
    background-color:#EFDAD7 ;
    border-radius: .7em;
    border-bottom: 1px solid grey;
    font-size: 12px;
}
.signUpbtn a{
    color: black;
}

.action{
    border: none;
    padding: 8px 20px;
    border-radius: 1em;
    border-bottom: 1px solid grey;
    background-color: #9AD0E1;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.get-organised{
    box-sizing: border-box;
    position: relative;
    margin-top: 120px;
    z-index: -1;
}
.gt-box{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.get-organised picture img{
    width: 100%;
    max-width: 700px;
}
.ur-business{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-family: sans-serif;
    width: 90%;
    max-width: 420px;
    font-size: 35px;
}
.ur-business span{
    text-decoration: underline;
    color: #9AD0E1;
}




@media (min-width : 700px) {
    .sm-menu{
        display: none;
    }
    .sm-navs{
        display: none;
    }
    .container{
        padding: 10px 40px;
    }
     #bar{
        display: none;
    }
    #times{
        display: none;
    }
    .logo img{
    display: block;
    }
    .menu{
        display: flex;
        align-items: center;
        position: relative;
        right: 20px;
        width: 70%;
        max-width: 600px;
    }
    .menu .navs{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .menu nav{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .menu ol li{
        margin: 5px 0;
        background-color:rgb(240, 240, 240) ;
        padding: 10px 15px;
        max-width: 200px;
        border-radius: .3em;
        cursor: pointer;
    }
    .menu ol a{
        color: black;
        font-size: 14px;
    }
    .menu .features,
    .menu .products,
    .menu .resources,
    .menu .more{
        display: inline;
        cursor: pointer;
        border: none;
        padding:5px 10px;
        background:none ;
        max-width: fit-content;
        z-index: 200;
    }
      .menu .features:hover,
    .menu .products:hover ,
    .menu .resources:hover{
        animation: animate 2s infinite;
    }
    @keyframes animate {
        from{  border-bottom: 2px solid #1572A1;}
        to{  border-bottom: 2px solid #E3BEC6;}
    }


    .menu .features-list,
    .menu .products-list,
    .menu .resources-list,
    .menu .more-list{
        padding: 20px;
        box-sizing: border-box;
        background-color:#9AD0E1 ;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        top: -350px;
        opacity: 0;
        max-width: fit-content;
        transition:all .5s ease-in-out;
        gap: 20px;
        margin: 20px 0;
        border-radius: .3em;
        z-index: 150;
    }
    
    .get-organised{
        box-sizing: border-box;
        position: relative;
        margin-top: 120px;
    }
    .gt-box{
        width: 100%;
        max-width: 1200px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .get-organised picture img{
        width: 100%;
        max-width: 700px;
    }
    .ur-business{
        font-family: sans-serif;
        width: 350px;
        font-size: 35px;
    }

}

@media (min-width:1000px) {
    .ur-business{
        text-align: left;
        font-family: sans-serif;
        width: 600px;
        font-size: 45px;
    }
}
