:root{
    --primaryColor: #60A3D9;
    --secondaryColor: #05445E;
    --extraColor:#E55B13;
    --extraColor2:rgb(161, 161, 161);
    --extraColor3:#d4d4d4e3;
;

    --headerFont: 'Archivo Black', sans-serif;
    --subheaderFont: 'Glory', sans-serif;
}
h4{
    color: var(--extraColor2);
}
*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration: none;
    scroll-behavior: smooth;
}
    .wave{
        position: absolute;
        left: 0;
        overflow: hidden;
        z-index: 2;
        fill: white;

    }
    .wave svg {
        position: relative;
        display: block;
        overflow: hidden;
        width: calc(100% + 1.3px);
        height: 59px;
    }
button:hover, a:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    opacity: 80%;
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  padding: 2px;
  border: 1px solid grey;
  border-radius: 1em;
}
 
body::-webkit-scrollbar-thumb {
    width: 5px;
    border: 1px solid;
  background-color: var(--extraColor);
  border-radius: 1em;
  outline: 1px solid rgb(218, 227, 235);
}

aside::-webkit-scrollbar {
  width: 10px;
}
 
aside::-webkit-scrollbar-track {
  padding: 2px;
  border: 1px solid grey;
  border-radius: 1em;
}
 
aside::-webkit-scrollbar-thumb {
    width: 5px;
  background-color: var(--extraColor);
  border-radius: 1em;
  border: 1px solid grey;
  outline: 1px solid rgb(218, 227, 235);
}

.container{
    padding: 5px 10px;
}
.logo{
    display: flex;
    align-items: center;
    font-family: var(--subheaderFont);
    font-weight: bold;
    color:gray ;
}
.logo img{
    display: none;
}
 #bar{
   display: flex;
     font-size: 25px;
    padding-right: 5px;
    color:var(--secondaryColor);
    cursor: pointer;
}
 #times{
    display: none;
     font-size: 25px;
    padding-right: 5px;
    color:var(--secondaryColor);
    cursor: pointer;
}
.mainhead{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
   padding-top: 20px;
   z-index: 50;
}
.menu .features,
.menu .products,
.menu .resources,
.menu .more{
    display: none;
}

.menu .features-list,
.menu .products-list,
.menu .resources-list,
.menu .more-list{
    display: none;
}
.sm-menu{
    display: none;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 50px;
    background-color: white;
    width: 100%;
    overflow: scroll;
}
.sm-navs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sm-navs ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.sm-navs ol li{
    font-family: var(--subheaderFont);
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0.438);
    border-radius: .3em;
    width: 90%;
}
.sm-navs ol a{
    color: black;
}
.sm-navs button{
    margin: 0 10px;
    padding: 10px 0 2px 0;
    width: 8%;
    text-align: left;
    border: none;
    background: none;
    border-bottom: 2px solid var(--secondaryColor);
    margin-bottom: 10px;
}
.loginbtn{
    background: none;
    border: none;
    font-size: 12px;
    padding: 0 15px;
}
.loginbtn a{
    color: black;
    font-weight: bold;
}
.signUpbtn{
    border: 1px solid grey;
    padding: 5px 10px;
    background-color:var(--secondaryColor);
    border-radius: .5em;
    box-shadow: inset 0 2px 3px rgba(12, 12, 12, 0.205), inset 0 -2px 3px #f8f8f8d0;
    font-size: 12px;
}
.signUpbtn a{
    color: white;
    font-weight: bold;
}

.action{
    border: none;
    padding: 8px 20px;
    border-radius: 1em;
    border-bottom: 1px solid grey;
    background-color:  var(--extraColor);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.get-organised{
    box-sizing: border-box;
    position: relative;
    margin-top: 120px;
    z-index: 1;
}
.gt-box{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.get-organised picture img{
    width: 100%;
    max-width: 700px;
}
.ur-business{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    max-width: 420px;
    font-size: 35px;
    font-family: var(--headerFont);
}
.ur-business span{
    text-decoration: underline;
    color: var(--secondaryColor);
}


.blg{
    margin: 50px 0;
    background:linear-gradient(to bottom, var(--secondaryColor), white);
    /* z-index: -1; */
    padding: 0;
}
.blg-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-top: 20px;
    overflow: hidden;
}
.blg-btn li{
    position: relative;
    /* z-index: 50; */
}
.blg-btn .btn img{
    display: none;
}
.active img{
    display: inline;
    position: absolute;
    width: 80%;
    left: 0;
    z-index: -1;
    rotate: 180deg;
}
.blg-btn button{
    margin: 10px;
    padding: 5px 10px;
    border-radius: .5em 0 ;
    border: 2px solid var(--secondaryColor);
    background: white;
    box-shadow: 0 2px 2px var(--secondaryColor)(128, 128, 128, 0.993);
}
.blg-content{
    margin-top: 30px;
    padding: 30px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    max-width: 500px;
    font-family: var(--headerFont);
    font-weight: 300;
    color: var(--secondaryColor);
}
.blg-content h1{
    font-size: 25px;
}
.blg-content span{
    color: var(--extraColor3);
}
.blg-content li{
    display: flex;
    flex-direction: column;
    position: relative;
}
   .blg-content li p{
    margin-top: 5px;
    margin-bottom: 20px;
   }
.blg-content li button{
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding:10px 20px;
    border-radius: .5em;
    border: none;
    background-color: var(--secondaryColor);
    color: white;
}
.cml{
    margin-top: 100px ;
}
.cml-head{
    text-align: center;
    font-size: 30px;
    max-width: 550px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-family: var(--subheaderFont);
}
.all-content{
    margin-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    justify-content: center;
}
.all-text{
    position: relative;
}
.text-float{
    position: absolute;
    bottom: 60px;
    color: white;
    width: 80%;
    padding: 20px;
    font-family: var(--subheaderFont);
}
.text-float h3{
    font-size: 35px;
}
.all-text img{
    filter: brightness(40%);
    width: 100%;
    max-height:700px;
    border-radius: 1em;
}
.all-content picture img{
    display: none;
}
    .all-content button{
        margin-top: 30px;
        padding:8px 20px;
        border: none;
        border-radius: .3em;
        background-color: var(--secondaryColor);
        color: white;
    }
    .cr, .ps, .bs, .dv{
        display: none;
    }
    .menu-display{
        display: flex;
    }

    
 .mks{
        position: relative;
        overflow: scroll;
        padding: 20px 0;
        background: linear-gradient(to top, var(--secondaryColor), white);
    }
    .mks::-webkit-scrollbar {
    width: .1px;
    }
    .mks::-webkit-scrollbar-track {
    border: none;
    margin:0 20px;
    }
    .mks::-webkit-scrollbar-thumb {
        max-width: 1px;
        border: none;
        background-color: white;
    }
    .mks-box{
        width: 650px;
        display: flex;
        overflow: hidden;
        gap: 15px;
        justify-content: flex-start;
    }
    .mks-box .iconify{
        color: var(--secondaryColor);
        font-size: 25px;
    }
    .mks-box div{
        position: relative;
        box-sizing: border-box;
        margin-top: 10px;
        box-shadow: 2px 2px 2px  #18181834;
         padding: 20px;
         border: 1px solid rgba(128, 128, 128, 0.562);
          border-left: 3px solid var(--secondaryColor);
         border-radius: .5em;
         height: 250px;
         width: 200px;
         text-align: right;
         background: white;
    }
     .mks-box div span{
        font-size: 12px;
        width: 90%;
        font-family: var(--subheaderFont);
        position: absolute;
        bottom: 40px;
        right: 10px;
        color: var(--secondaryColor);
     }
    .mks-box div h1{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .your-hand{
        margin: 100px 0;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        font-family: var(--headerFont);
    }
    .your-hand h1{
        width: 100%;
        font-size: 40px;
    }
    .your-hand p{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
    }
    .your-hand img{
        width: 100%;
        max-width: 900px;
    }
    .new{
        background-color: black;
    }
.new-users{
    position: relative;
    background:url('./images/Group\ 1.svg') ;
    background-color: rgba(0, 0, 0, 0.699);
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
    height: 50vh;
}
.new-users h2{
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    backdrop-filter: blur(2px);
    text-align: center;
     border: 2px solid var(--extraColor);
}




@media (min-width : 700px) {
    .sm-menu{
        display: none;
    }
    .sm-navs{
        display: none;
    }
    .wave {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 124px;
    transform: rotateY(180deg);
    overflow: hidden;
}

    .container{
        padding: 0px 40px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 1200px;
    }
     #bar{
        display: none;
    }
    #times{
        display: none;
    }
    .logo img{
    display: block;
    }
    .menu{
        display: flex;
        align-items: center;
        position: relative;
        right: 20px;
        width: 70%;
        max-width: 600px;
    }
    .menu .navs{
        padding: 10px 0;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: white;
    }
    .menu .navs ol{
        z-index: -1;
    }
    .menu nav{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .menu ol li{
        margin: 5px 0;
        background-color:var(--extraColor3);
        box-shadow: inset 0 2px 3px rgba(12, 12, 12, 0.041), inset 0 -2px 3px #f8f8f8a1;
        padding: 10px 15px;
        max-width: 200px;
        border-radius: .3em;
        cursor: pointer;
    }
    .menu ol a{
        color: black;
        font-size: 14px;
    }
    .menu .features,
    .menu .products,
    .menu .resources,
    .menu .more{
        display: inline;
        cursor: pointer;
        border: none;
        padding:5px 10px;
        background:none ;
        max-width: fit-content;
    }
      .menu .features:hover,
    .menu .products:hover ,
    .menu .resources:hover{
        animation: animate 2s infinite;
    }
    @keyframes animate {
        from{  border-bottom: 2px solid var(--primaryColor);}
        to{  border-bottom: 2px solid var(--extraColor);}
    }


    .menu .features-list,
    .menu .products-list,
    .menu .resources-list,
    .menu .more-list{
        padding: 20px;
        box-sizing: border-box;
        background-color:var(--secondaryColor);
        box-shadow: inset 2px 2px 5px rgba(12, 12, 12, 0.048), inset 2px -2px 5px rgba(12, 12, 12, 0.205);
        border: 1px solid rgba(128, 128, 128, 0.651);
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        top: -350px;
        opacity: 0;
        max-width: fit-content;
        transition:all .5s ease-in-out;
        gap: 20px;
        margin: 20px 0;
        border-radius: .3em;
        font-family: var(--subheaderFont);
    }
    
    .get-organised{
        box-sizing: border-box;
        position: relative;
        margin-top: 50px;
    }
    .gt-box{
        width: 100%;
        max-width: 1200px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .get-organised picture img{
        width: 100%;
        max-width: 800px;
    }
    .ur-business{
        width: 350px;
        font-size: 35px;
    }
        
    i{
        color: grey;
    }
    .blg{
        margin-top: 50px;
    }
    .blg-box{
        display: flex;
        margin: 20px 0;
        overflow: hidden;
        width: 100%;
    }
    .blg-btn{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        z-index: -1;
    }
    .active img{
    display: inline;
    position: absolute;
    width: 180%;
    top: -80px;
    left: 0;
    z-index: -1;
    rotate: 80deg;
}
    .blg-btn button{
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: .5em 0;
        border: 1px solid var(--secondaryColor);;
        background: white;
        box-shadow: 0 2px 2px var(--secondaryColor);;
    }
    .blg-content{
        display: flex;
        width: 100%;
        left: 0;
        text-align: left;
        transform: translate(0);
        margin-left: 15%;
    }
    .blg-content li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:  20px;
        border-radius: .5em;
    }
    .blg-content li h1{
        font-size: 27px;
    }
    .blg-content li button{
        width: fit-content;
        border-radius: .5em;
        border: 1px solid gray;
        left: 0;
        transform: translate(0);
    }
    .all-content{
        display: flex;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        align-items: center;
        justify-content: center;
    }
    .all-text{
        position: relative;
    }
    .text-float{
        position: absolute;
        bottom: 60px;
        color: white;
        width: 80%;
        padding: 20px;
        font-family: var(--subheaderFont);
    }
    .text-float h3{
        font-size: 35px;
    }

    .all-text img{
       filter: brightness(20%);
    }
    .all-content img{
        width: 100%;
        max-height:700px;
        border-radius: 0;
    }
    .all-content picture img{
        display: block;
    }
        .all-content button{
            margin-top: 30px;
            padding:8px 20px;
            border: none;
            border-radius: .3em;
            background-color: var(--secondaryColor);
            color: white;
        }
        .cr, .ps, .bs, .dv{
            display: none;
        }
        .menu-display{
            display: flex;
        }
        .mks{
        position: relative;
        box-sizing: border-box;
        padding: 20px 0;
        overflow: hidden;
    }
    .mks-box{
        max-width: 630px;
        overflow: hidden;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
    }
    .mks-box .iconify{
        color: var(--secondaryColor);
        font-size: 35px;
    }
    .mks-box div{
        position: relative;
        box-sizing: border-box;
        margin-top: 10px;
        box-shadow: 2px 2px 2px  #18181834;
         padding: 20px;
         border: 1px solid rgba(128, 128, 128, 0.562);
          border-left: 3px solid var(--secondaryColor);
         border-radius: .5em;
         min-width: 200px;
         max-width: 500px;
         text-align: right;
         background: white;
    }
    .mks-box div h1{
        width: 90%;
        font-size: 20px;
        font-family: var(--headerFont);
        position: absolute;
        bottom: 50px;
        right: 10px;
        color: var(--secondaryColor);
    }
        .your-hand{
            position: relative;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        .your-hand h1{
            width: 100%;
            font-size: 40px;
            text-align: left;
        }
        .your-hand p{
            left: 0;
            transform: translate(0);
            text-align: left;
        }
        .your-hand img{
            width: 100%;
            max-width: 900px;
        }
        .new-users{
            background-position: right;
            background-repeat: no-repeat;
        }
        .new-users h2{
            left: 30%;
            width: 50%;
            text-align: left;
            border: none;
            border-left: 2px solid var(--extraColor);
        }

}

@media (min-width:1000px) {
    .ur-business{
        text-align: left;
        width: 600px;
        font-size: 45px;
    }
}
